#titulo {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
}


#crearAeropuerto {

    display: flex;
    flex-direction: column;
    max-width: 25rem;

}

#buscar {

    display: flex;
    flex-direction: column;
    max-width: 25rem;

}

#Editar {

    display: flex;
    flex-direction: column;
    max-width: 25rem;

}

#Eliminar {

    display: flex;
    flex-direction: column;
    max-width: 25rem;

}

input {
    margin-bottom: 0.5rem;

}

/*TABLA*/

section {
    display: flex;
    justify-content: center;
}

section {
    margin: 20px 0;
}

section a {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: gray;
    color: #fff;
    text-decoration: none;
}

/* Estilos generales de la tabla */
#tablaDatos {

    overflow-x: auto;
}

#tablaDatos table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

}

#tablaDatos th,
#tablaDatos td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Estilo alternativo para filas pares */
#tablaDatos tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para los encabezados de la tabla */
#tablaDatos thead {
    background-color: grey;
    color: #fff;
}

#tablaDatos th {
    font-weight: bold;
}

/* Estilos para los enlaces en la sección */
section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

section a {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: gray;
    color: #fff;
    text-decoration: none;
}

section a:hover {
    background-color: #333;
}
