#tituloRV {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
}


#crear{

    display: flex;
    flex-direction: column;
    max-width: 25rem;

}

input{
    margin-bottom: 0.5rem;

}
